.Rhistory
.RData
.Rproj.user
*.Rproj
_bookdown_files/
35DSE250GC_SIR.dbf
35DSE250GC_SIR.prj
35DSE250GC_SIR.shp
35DSE250GC_SIR.shx
A - Base 20 RMs 2000_2010.xlsx
A - DICIONÁRIO dos indicadores do Atlas.xlsx
BR_UF_2020.cpg
BR_UF_2020.dbf
BR_UF_2020.prj
BR_UF_2020.shp
BR_UF_2020.shx
BR_UF_2020.zip
Base informaçoes setores2010 universo SP_Capital
Populacao.cpg
Populacao.dbf
Populacao.prj
Populacao.qpj
Populacao.shp
Populacao.shx
Populacao.xlsx
Populacao.zip
shapefile.zip
shapes_potencial_agressividade_climatica.zip
dados_sp.zip
RM 63500 São Paulo - Base REGIONAL 2000_2010.xlsx
RM 63500 São Paulo - Base UDH 2000_2010.xlsx
RM_SaoPaulo_RM_region.dbf
RM_SaoPaulo_RM_region.prj
RM_SaoPaulo_RM_region.shp
RM_SaoPaulo_RM_region.shx
RM_SaoPaulo_Regional_region.dbf
RM_SaoPaulo_Regional_region.prj
RM_SaoPaulo_Regional_region.shp
RM_SaoPaulo_Regional_region.shx
RM_SaoPaulo_UDH_region.dbf
RM_SaoPaulo_UDH_region.prj
RM_SaoPaulo_UDH_region.shp
RM_SaoPaulo_UDH_region.shx
SIRGAS_SHP_distrito
VetoresIntegrados.dbf
VetoresIntegrados.prj
VetoresIntegrados.sbn
VetoresIntegrados.sbx
VetoresIntegrados.shp
VetoresIntegrados.shp.xml
VetoresIntegrados.shx
codigos_municipios_regioes.csv
evolucao_casamentos.csv
